@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

main {
    width: 1110px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 485px 130px;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-areas:
        "header header header"
        "section section aside"
        "footer footer footer";
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 5rem 1fr 440px;
    grid-template-rows: 1fr;
    grid-template-areas:
        "logo . nav";
}

.logo {
    grid-area: logo;
    display: grid;
    align-content: center;
}

.header-nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-content: center;
}

.header-nav a {
    text-decoration: none;
    color: #5d5f79;
    font: 1em;
}

.header-nav a:hover {
    color: hsl(5, 85%, 63%);
}

section {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "img img"
        "title readmore";
    grid-row-gap: 30px;
    grid-column-gap: 30px;
}

.section-img {
    grid-area: img;
}

.section-img img {
    width: 100%;
    height: 100%;
}

.section-title {
    grid-area: title;
}

.section-title h1 {
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 3.2rem;
}

.section-readmore {
    grid-area: readmore;
    display: grid;
    align-content: space-between;
}

.section-readmore p {
    color: #7C7984;
}

.section-readmore button {
    width: 185px;
    height: 48px;
    background-color: #EF5D53;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3rem;
}

.section-readmore button:hover {
    background-color: #00001A;
}

aside {
    background-color: #00001A;

}

.sidebar {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    grid-area: aside;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px 1fr 1fr 1fr;
}

.sidebar-title {
    color: #E3A94E;
    font-size: 2rem;
    text-align: left;
    display: grid;
    align-content: end;
}

.sidebar-box {
    display: grid;
}

.sidebar-content {
    display: grid;
    align-content: center;
    gap: 10px;
}

.sidebar-box h3 {
    color: #FDFDFD;
}

.sidebar-box h3:hover {
    color: #E3A94E;
}

.sidebar-box p {
    color: #B5B6CA;
}

.box-meio {
    border-top: .5px solid white;
    border-bottom: .5px solid white;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px;
}

.footer-box {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-column-gap: 25px;
}

.footer-img img {
    width: 100%;
    height: 100%;
}


.footer-text span {
    display: grid;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    color: #C9C8CD;
}

.footer-text h4 {
    padding-top: 5px;
    color: #00001A;
    font-size: 1rem;
}

.footer-text h4:hover {
    color: #EF5D53;
}

.footer-text p {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #5d5f79;
    line-height: 1.2rem;
}

.space {
    height: 10px;
}

@media (max-width: 410px) {
    main {
        width: 100vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 88px 1fr 1fr 1fr;
        grid-template-areas:
            "header"
            "section"
            "aside"
            "footer";
        grid-row-gap: 0px;
        grid-column-gap: 0px;
    }

    header {
        margin: 0 auto;
    }

    .logo{
        margin-left: 1.3rem;
    }

    .header-nav {
        display: none;
    }

    section {
        width: 30rem;
        margin: 0 auto;
        grid-template-columns: 95%;
        grid-template-rows: 380px 200px 300px;
        grid-template-areas:
            "img"
            "title"
            "readmore";
        justify-content: center;
        grid-row-gap: 0px;
    }

    .img-desktop {
        display: none;
    }

    .img-mobile {
        width: auto;
        height: 100%;
    }

    .section-title {
        display: grid;
        align-content: end;
    }

    .section-title h1 {
        font-size: 3.4rem;
        line-height: 3.5rem;
    }

    .section-readmore {
        height: 100%;
        align-content: space-around;
        padding-bottom: 20px;
    }

    .section-readmore p {
        display: block;
        width: 90%;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .section-readmore button {
        width: 200px;
        height: 55px;
        font-size: 1rem;
    }

    aside {
        width: 29rem;
        margin: 0 auto;
        height: 42rem;
    }

    .sidebar{
        width: 90%;
    }

    .sidebar-title {
        font-size: 2.4rem;
    }

    .sidebar-content h3 {
        font-size: 1.3rem;
    }

    .sidebar-content p{
        font-size: 1rem;
    }

    footer{
        width: 30rem;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-template-rows: 8rem 8rem 8rem;
        grid-row-gap: 3rem;
    }

    .footer-box{
        grid-template-columns: 120px 1fr;
    }

    .footer-text span{
        font-size: 2.5rem;
    }

    .footer-text h4{
        font-size: 1.3rem;
    }

    .footer-text p{
        font-size: 1rem;
    }
}